<div class="header d-flex justify-content-between">
    <div class="d-flex ps-5">
        <img src="/logo.png" style="width: 6.5%; height: auto">
        <div style="width: 15%" class="text-center lh-1 align-self-center fw-bold">
            FAME ACADEMY OF SCIENCE AND TECHNOLOGY (INC.)
        </div>
    </div>
    <div class="datetime lh-1 align-self-center" style="width: 15%;">
        <div class="date "></div>

        <div class="time"></div>
    </div>
</div>

