<div class="sticky-top" style="z-index: 1;">
  {{> header}}
  {{> navigation}}
</div>
</div>
        <h1 class="header-school d-flex justify-content-center" style="width:auto; font-size:60px;">ABOUT FAST</h1>
<div class="d-flex justify-content-center" style="margin-top: 7%;">
  <div id="carouselExampleCaptions" class="carousel carousel-dark slide" style="max-width: 700px; transform:scale(1.6)">
    <div class="carousel-inner" style="max-width: 700px;">
      <div class="carousel-item active transparent">
        <img src="/brief.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item transparent">
        <img src="/philosophy.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item transparent">
        <img src="/mission.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item transparent">
        <img src="/vision.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item transparent">
        <img src="/goals.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item transparent">
        <img src="/objs.png" class="d-block w-100" alt="...">
      </div>
       <div class="carousel-item transparent">
        <img src="/meaning.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>  