<div class="sticky-top" style="z-index: 1;">
    {{> header}}
    {{> navigation}}
</div>

<div class="container">
    <h1 style="color:black; text-align: center;">ACADEMIC POLICIES</h1>
    <div class="d-flex flex-column align-items-center policy mt-5">



        <h1 class="header-school" style="width:auto%; text-align:center;">INCOMPLETE GRADES</h1>

        <p class="header-school wayt px-5" style="font-size:25; text-align: center; color:black;">
            Incomplete grades due to inability to comply with the requirements must be resolved within one week immediately after the examinations. Incomplete grades not resolved within designated time,
            without any valid reason, automatically become a failure. </p>

    </div>

    <div class="d-flex flex-column align-items-center policy mt-5">



        <h1 class="header-school" style="width:100%; text-align:center;">POLICY ON HONORS AND AWARDS</h1>

        <p class="header-school wayt px-5" style="font-size:25; text-align: left; color:black; line-height:1.5">
            1. The student shall have obtained an average of 87% or higher. He/She shall not have any final grade lower than 85% <br>
            2. Shall have obtained a final grade of 87% or higher in Values education.<br>
            3. He or she shall not have any grade lower than 85% in any subject, in any grading period. Honor student who will get a grade lower than 85% in any grading period will be automatically dropped from the honor roll.<br>
            4. For Junior High School honor students, a 70% -30% criteria will be derived from all academics and extracurricular
activities respectively. <br>
            5. All students who have been suspended for disciplinary infraction shall be disqualified for honors for the curricular
year level during which the suspension is imposed. </p>
    </div>

     <div class="d-flex flex-column align-items-center policy mt-5">

  < <h1 class="header-school" style="width:100%; text-align:center;">SPECIAL AWARDS</h1>
        
    
        <table style="font-size:x-large; width:100%; table-layout:fixed">
            <tr>
                <th>AWARDS</th>
                <th>DESCRIPTION</th>
            </tr>
            <tr><td>Diamond OSM Award</td><td>this award is the highest award
                    given to a student in recognition of his/her outstanding
                    contribution to the school.</td></tr>
            <tr><td>OSM Listee </td><td>this award is given to the Top 30 students in
            every grade level. </td></tr>
            <tr><td>Excellence Award</td><td>this award is given to students that
showed outstanding performance in a given subject area.</td></tr>
            <tr><td>Leadership Award</td><td>this award is given to a student who
showed remarkable leadership skills. </td></tr>
            
            </div>
        </table></h2>
    </div>
    <div class="d-flex flex-column align-items-center policy mt-5">

        <h1 class="header-school" style="width:100%; text-align:center;">ENTRANCE SCHOLARSHIP AND DISCOUNTS</h1>

        <p class="header-school wayt px-5 border border-black border-bottom-0 rounded-0" style="font-size:25; text-align: left; color:black; line-height:1.5;" text-indent="50px">
            It is given to incoming Grade 7 students with academic distinction who passed the entrance exam and interview. </p>
    <table style="font-size:x-large; width:100%; table-layout:fixed">
            
            <tr><td>Students who graduated from<br>Private Elementary Schools:</td><td>With Highest Honors/ High Honors- <br>
            100% discount on tuiton fee.<br> 
            With Honors- 30% to 75% discount on tuition fee.</td></tr>
            <tr><td>Students who graduated from <br> Public Elementary Schools:</td><td>With Highest Honors/ High Honors-<br> 
            50% to 100% discount on tuition fee.<br>
            With Honors - 35% to 50% discount on tuition fee.</td></tr>
    </table>
    <p class="header-school grey px-5" style="font-size:22; text-align: left; color:white; line-height:1;" text-indent="50px">
           Note: All scholarships will be based on the number of students in the graduating class. All are subject to the evaluation
and approval of the Scholarship Selection Committee.  </p>
    </div>

    <div class="d-flex flex-column align-items-center policy mt-5">
    < <h1 class="header-school" style="width:100%; text-align:center;">ACADEMIC SCHOLARSHIP AND DISCOUNTS</h1>
        
    
        <table style="font-size:x-large; width:100%; table-layout:fixed">
            <tr>
                <th>SCHOLARSHIP</th>
                <th>DISCOUNT</th>
            </tr>
            <tr><td>Mariano Manalo Scholarship</td><td>100% discount on tuition fee for Top 1 Student.</td></tr>
            <tr><td>Corita Manalo Scholarship</td><td>75% discount on tuition fee for the Top 2 Student. </td></tr>
            <tr><td>Oscar S. Manalo Sr. Scholarhip</td><td>50% discount on tuition fee for Rank 3 to Rank 20 Students.</td></tr>
            <tr><td>Corazon S. Manalo Scholarship</td><td>30% discount on tuition fee for Rank 21 to Rank 40 students.</td></tr>
            <tr><td> Oscar S. Manalo Jr.</td><td>25% discount on tuition fee for Rank 41 to Rank 60 students.</td></tr>
            <tr><td>Maribel G. Manalo</td><td>15% discount on tuition fee for Rank 61 to Rank 80 students.</td></tr>
            </div>
        </table></h2>
    </div>
    <div class="d-flex flex-column align-items-center policy mt-5">
    <h1 class="header-school" style="width:auto%; text-align:center;">EXAMINATION POLICY</h1>

        <p class="header-school wayt px-5" style="font-size:25; text-align: center; color:black;">
            The school calendar is divided into four (4) quarterly
            periods. It is the Administrator who determines the dates of
            examinations. Parents are requested to settle accounts before
            date of examination. <br><br>
            Absolute honesty and strict discipline are to be observed in
            the classroom and its vicinity during examinations.
            Special examinations shall be allowed on occasions where reasons are most justified. These will require a certification from
            the Administrator.<br><br>
            In case of missed exams due to excused absences such as
            sickness, the student must present his duly signed Excuse Slip
            to his/her teacher for his special test. A student is given one (1)
            week, proceeding to his/her return to school, to take special examinations.</p>
    </div>

     <div class="d-flex flex-column align-items-center policy mt-5">
    <h1 class="header-school" style="width:auto%; text-align:center;">PROGRESS REPORT</h1>

        <p class="header-school wayt px-5" style="font-size:25; text-align: center; color:black;">
            Reports cards are issued at the end of every quarter. Parents/
            Guardians will be informed as to when the report cards will be distributed. <br><br>
            A student who gets a grade below 75% will be advised to
            attend remedial or tutorial classes. <br><br>
            Cards signed by the parents/guardians should be returned to
            the adviser within two days after its distribution, except when
            distributed on a Friday</p>
    </div>
</div>  