<div class="sticky-top" style="z-index: 1;">
  {{> header}}
  {{> navigation}}
</div>
</div>
        <h1 class="header-school d-flex justify-content-center" style="width:auto;font-size:80px">GRADE 12</h1>
<div class="d-flex justify-content-center" style="margin-top: 8%;">
  <div id="carouselExampleCaptions" class="carousel carousel-dark slide" style="max-width: 900px; transform:scale(1.6)">
    <div class="carousel-inner" style="max-width: 900px;">
      <div class="carousel-item active transparent">
        <img src="/nobel.jpg" class="d-block w-100" alt="...">
        <h3 style="color:navy; " class=" fw-bold d-flex justify-content-center">NOBEL</h3>
      </div>
      <div class="carousel-item transparent">
        <img src="/ruther.jpg" class="d-block w-100" alt="...">
        <h3 style="color: navy; " class="d-flex justify-content-center fw-bold">RUTHERFORD</h3>
      </div>
      <div class="carousel-item transparent">
        <img src="/thomson.jpg" class="d-block w-100" alt="...">
        <h3 style="color: navy; " class="d-flex justify-content-center fw-bold">THOMSON</h3>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>  