<div class="sticky-top" style="z-index: 1;">
    {{> header}}
    {{> navigation}}
</div>
<div class="d-flex justify-content-center clubheader head">
    <h1>HIMNO NG FAST </h1><br>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 1%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LoJ3e8RKPEk?si=gwLn9H3xtWoQCV11"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <h4 class="text-center mt-4" style="color: black;">Composed By: Mr. Oscar S. Manalo Sr.</h4>
        <h4 class="text-center" style="color: black;">Music Adapted by: Mr. Robert Joseph A. Almanzor</h4>

         <p class="m-5" style="font-size:25; text-align: center; color:black;">
            Lantay na diamante sa agham at asal<br>
Ang FAST ay natampok sa Batangan;<br>
Wagas na pag-ibig sa Diyos at bayan<br>
Pag-irog sa kapwa at sa kalikasan<br><br>

Ang FAST ay kadluan ng mga pangarap<br>
Matibay na bigkis ng ngayon sa bukas;<br>
Puhuna’y talino tungo sa pag-unlad<br>
Ugat ng tagumpay ay sipag at sikap<br>

Sa FAST ang pangarap ay may katuparan<br>
Laging pangarap ang katotohanan<br>
May hulab ng bulkan ang paninindigan<br>
Na pagyayamanin hanggang kamatayan<br><br>

Ang FAST ay kadluan ng mga pangarap<br>
Matibay na bigkis ng ngayon sa bukas;<br>
Puhuna’y talino tungo sa pag-unlad<br>
Ugat ng tagumpay ay sipag at sikap<br><br>

Sa FAST matutupad ang mga pangarap<br>
Matibay na bigkis ng ngayon sa bukas</p>
</div>