<div class="sticky-top" style="z-index: 1;">
    {{> header}}
    {{> navigation}}
</div>
<div class="text-center head">
    <h1 class="fw-bold pt-5">JUNIOR HIGH SCHOOL CURRICULUM</h1>
</div>
<div>
    <h1 class="header-school ps-5" style="width:auto; text-align: left;">A. Curriculum</h1>

    <p class="header-school grey ps-5" style="font-size:26; text-align: left; text-indent: 50px"> The time allotment for
        the learning areas per week shall be as follows:</p>
</div>
<div class="container">
    <table style="font-size:x-large; width:80%; table-layout:fixed">
    </table>

    <h2 class="header-school" style="width:80%;">GRADE 7</h2>
    <table style="font-size:x-large; width:80%; table-layout:fixed">
        <tr>
            <th>SUBJECTS</th>
            <th>NO. OF MINUTES</th>
        </tr>
        <tr>
            <td>Science</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>300</td>
        </tr>
        <tr>
            <td>English</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Filipino</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Asian History</td>
            <td>180</td>
        </tr>
        <tr>
            <td>MAPEH</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Computer Science</td>
            <td>180</td>
        </tr>
        <tr>
            <td>TLE</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Values</td>
            <td>120</td>
        </tr>
        <tr>
            <td>Journalism</td>
            <td>120</td>
        </tr>
        <tr>
            <td>Environmental Science</td>
            <td>240</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:80%;">GRADE 8</h2>
    <table style="font-size:x-large; width:80%; table-layout:fixed">
        <tr>
            <th>SUBJECTS</th>
            <th>NO. OF MINUTES</th>
        </tr>
        <tr>
            <td>Science</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>300</td>
        </tr>
        <tr>
            <td>English</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Filipino</td>
            <td>180</td>
        </tr>
        <tr>
            <td>World History</td>
            <td>180</td>
        </tr>
        <tr>
            <td>MAPEH</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Computer Science</td>
            <td>180</td>
        </tr>
        <tr>
            <td>TLE</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Values</td>
            <td>120</td>
        </tr>
        <tr>
            <td>Biotechnology</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Analytic Geometry</td>
            <td>180</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:80%;">GRADE 9</h2>
    <table style="font-size:x-large; width:80%; table-layout:fixed">
        <tr>
            <th>SUBJECTS</th>
            <th>NO. OF MINUTES</th>
        </tr>
        <tr>
            <td>Science</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>300</td>
        </tr>
        <tr>
            <td>English</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Filipino</td>
            <td>240</td>
        </tr>
        <tr>
            <td>Economics</td>
            <td>180</td>
        </tr>
        <tr>
            <td>MAPEH</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Computer Science</td>
            <td>240</td>
        </tr>
        <tr>
            <td>Linear Algebra/ Pre-Calculus</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Organic Chemistry</td>
            <td>240</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:80%;">GRADE 10</h2>
    <table style="font-size:x-large; width:80%; table-layout:fixed">
        <tr>
            <th>SUBJECTS</th>
            <th>NO. OF MINUTES</th>
        </tr>
        <tr>
            <td>Science</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>300</td>
        </tr>
        <tr>
            <td>English</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Filipino</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Contemporary Issues</td>
            <td>180</td>
        </tr>
        <tr>
            <td>MAPEH</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Computer Science</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Zoology</td>
            <td>180</td>
        </tr>
        <tr>
            <td>Differential Equation/ Calculus</td>
            <td>120</td>
        </tr>
</div>
</table>
</div>

<h1 class="header-school ps-5" style="width:auto; text-align: left;">B. GRADING SYSTEM</h1>

<p class="header-school grey ps-5" style="font-size:26; text-align: left; text-indent: 50px"> FAST follows the
    guidelines provided by the Department of Education except on the transmutation of grades. The ceiling grade varies
    in every quarter with the same lowest grade, 70%. The ceiling grades every quarter is as follows:</p>
<div class="container">
    <table style="font-size:x-large; width:80%; table-layout:fixed">
    </table>

    <div class="container">
        <h2 class="header-school" style="width:80%;">JUNIOR HIGH SCHOOL</h2>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr>
                <td>1st Quarter</td>
                <td>94</td>
            </tr>
            <tr>
                <td>2nd Quarter</td>
                <td>96</td>
            </tr>
            <tr>
                <td>3rd Quarter</td>
                <td>98</td>
            </tr>
            <tr>
                <td>4th Quarter</td>
                <td>100</td>
            </tr>
    </div>
    </table>
</div>
</div>
<h2 class="header-school grey ps-5" style="width:auto; text-align: left; font-size:26;">The grade in each subject area
    shall be based on certain criteria weighted accordingly as follows:</h2>


<div class="container">
    <h2 class="header-school" style="width:95%;">Science, Mathematics, Computer Science, Biotechnology, Linear Algebra,
        Organic Chemistry, Zoology, and Calculus</h2>
    <table style="font-size:x-large; width:95%; table-layout:fixed">
        <tr>
            <td>Performance Tasks</td>
            <td>40%</td>
        </tr>
        <tr>
            <td>Written Works</td>
            <td>40%</td>
        </tr>
        <tr>
            <td>Quarterly Assessment</td>
            <td>20%</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:95%;">Filipino, English, Journalism, Contemporary Issues, and Economics</h2>
    <table style="font-size:x-large; width:95%; table-layout:fixed">
        <tr>
            <td>Performance Tasks</td>
            <td>50%</td>
        </tr>
        <tr>
            <td>Written Works</td>
            <td>30%</td>
        </tr>
        <tr>
            <td>Quarterly Assessment</td>
            <td>20%</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:95%;">MAPEH (Music, Arts, Physical Education, Health) and TLE (Technology and
        Livelihood Education)</h2>
    <table style="font-size:x-large; width:95%; table-layout:fixed">
        <tr>
            <td>Performance Tasks</td>
            <td>60%</td>
        </tr>
        <tr>
            <td>Written Works</td>
            <td>20%</td>
        </tr>
        <tr>
            <td>Quarterly Assessment</td>
            <td>20%</td>
        </tr>
</div>
</table>
</div>
<div class="container">
    <h2 class="header-school" style="width:95%;">Values</h2>
    <table style="font-size:x-large; width:95%; table-layout:fixed">
        <tr>
            <td>Performance Tasks/ Written Works</td>
            <td>50%</td>
        </tr>
        <tr>
            <td>Teacher's Rating</td>
            <td>30%</td>
        </tr>
        <tr>
            <td>Quarterly Assessment</td>
            <td>20%</td>
        </tr>
</div>
</table>
</div>