<div class="sticky-top" style="z-index: 1;">
{{> header}}
{{> navigation}}
</div>
    <div class="d-flex justify-content-start align-items-center w-75 text-align-top">
        <div style=" margin-left:10%; margin-top:5%;">
            <div class="_df_thumb " source="/SCHOOL-PAPER-2025.pdf" thumb="/THUMB.png">
                The Diamond 2025
            </div>
        </div>
        <div class="flex-wrap">
            <h2 style="color:navy; font-size:100px" class="fw-bold">
                THE DIAMOND 2025
            </h2>
        </div>


    </div>
</div>

<script src="/dflip/js/libs/jquery.min.js" type="text/javascript"></script>
<script src="/dflip/js/dflip.min.js" type="text/javascript"></script>