<div class="sticky-top" style="z-index: 1;">
    {{> header}}
    {{> navigation}}
</div>
<div class="clubheader head">
    <h1 class="text-center fw-bold pt-4">ORGANIZATION</h1>
</div>
<div class="container">
    <h2 class="header-school" style="width: 80%;">LEADERSHIP CLUBS</h2>
    <div class="d-flex flex-column align-items-center">
        <div class="club d-flex align-items-center justify-content-between">
            <div class="club">
                <img src="/sc.png" style="width:360px; height:auto;">

                <div class="flex-wrap">
                    <a href="https://www.facebook.com/FASTStuCo1920" style="text-decoration: none;">
                        <h2 style="color:navy; font-size:58px" class="fw-bold">
                            FAST Student Council
                        </h2>
                        <p style="color: rgb(194, 183, 79); font-size:30px;">FB:FAST Student Council</p>
                        <p style="color: black; font-size:30px">studentcouncil@fast.edu.ph</p>
                        </p>
                </div>
            </div>
        </div>
        <div class="club d-flex align-items-center justify-content-between">
            <div class="club">
                <img src="/iac.png" style="width:360px; height:auto;">
                <div class="d-flex flex-column">
                    <a href="https://www.facebook.com/interactcluboffastbmw" style="text-decoration: none;">
                        <h2 style="color:navy; font-size:58px" class="fw-bold">
                            Interact Club of FAST Batangas Mid-West
                        </h2>
                        <p style="color: rgb(194, 183, 79); font-size:30px;">FB:Interact Club of FAST Batangas Mid-West
                        </p>
                        <p style="color: black; font-size:30px">interactclub@fast.edu.ph</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="header-school" style="width: 80%;">ACADEMIC CLUBS</h2>
    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/hiraya.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/HIRAYA.FilipinoClub" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        HIRAYA-Filipino Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Hiraya</p>
                    <p style="color: black; font-size:30px">hiraya.filclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/wyrd.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/wyrdfast" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        WYRD-English Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:WYRD - English Club of
                        FAST</p>
                    <p style="color: black; font-size:30px">wyrd.englishclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/chronicle.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/profile.php?id=100064106460472" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        CHRONICLE-History Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Chronicle - History
                        Club of FAST </p>
                    <p style="color: black; font-size:30px">chronicle.historyclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/matheux.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/profile.php?id=100064106460472" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        MATHEUX-Math Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Matheux Math Club </p>
                    <p style="color: black; font-size:30px">matheux.mathclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/aether.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/profile.php?id=100064120501674" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        AETHER-Science Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;"> FB:Aether - Science Club
                        of FAST
                    </p>
                    <p style="color: black; font-size:30px">aether.science@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/swat.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/FAST.ComputerClub/" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        S.W.A.T-Computer Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:SWAT - Computer of
                        FAST </p>
                    <p style="color: black; font-size:30px">swat.computerclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/melodia.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/MusicClubOfFAST" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        MELODIA-Music Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Melodia - Music Club
                        of FAST </p>
                    <p style="color: black; font-size:30px">melodia.musicclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/arts.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/PalmariusArtsClubFAST" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        PALMARIUS-Arts Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Palmarius - Arts Club
                    </p>
                    <p style="color: black; font-size:30px">palmarius.artsclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/vigorem.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/SportsClubFAST" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        VIGOREM-Sports Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Vigorem - Sports Club
                        of FAST </p>
                    <p style="color: black; font-size:30px">vigorem.sportsclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>
    <h2 class="header-school" style="width: 80%;">RECREATIONAL CLUBS</h2>
    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/ffe.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/fastfullexposure/" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        FAST FULL EXPOSURE
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:FAST Full Exposure
                    </p>
                    <p style="color: black; font-size:30px">fullexposure@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>
    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/dance.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/fast.dnce/" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        SYNERGY-Dance Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Dance Club of FAST
                    </p>
                    <p style="color: black; font-size:30px">fullexposure@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/harmonia.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/gleeclubfast/" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        HARMONIA-Glee Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Harmonia - Glee Club
                        of FAST </p>
                    <p style="color: black; font-size:30px">harmonia.gleeclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>

    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/theater.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/amaestrado.theatreclub#" style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        SYNERGY-Dance Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Amaestrado - Theatre
                        Club of FAST
                    </p>
                    <p style="color: black; font-size:30px">amaestrado.theaterclub@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>
    <div class="club d-flex align-items-center justify-content-between">
        <div class="club">
            <img src="/caissa.png" style="width:360px; height:auto;">

            <div class="flex-wrap">
                <a href="https://www.facebook.com/profile.php?id=61552004766465&rdid=vAL5AdlZmtH0sakj#"
                    style="text-decoration: none;">
                    <h2 style="color:navy; font-size:58px" class="fw-bold">
                        CAISSA-Chess Club
                    </h2>
                    <p style="color: rgb(194, 183, 79); font-size:30px; text-decoration:none;">FB:Caissa
                    </p>
                    <p style="color: black; font-size:30px">diamonds.gambit@fast.edu.ph</p>
                </a>
            </div>
        </div>
    </div>