<div class="sticky-top" style="z-index: 1;">
{{> header}}
{{> navigation}}
</div>
    <div class="text-center head">
        <h1 class="fw-bold pt-5"> SENIOR HIGH SCHOOL CURRICULUM</h1>

       </div>
        <h1 class="header-school ps-5" style="width:auto; text-align: left;">A. Curriculum</h1>
        
        <p class="header-school grey ps-5" style="font-size:26; text-align: left; text-indent: 50px"> The time allotment for the learning areas per week shall be as follows:</p>
        <div class="container">
            <table style="font-size:x-large; width:80%; table-layout:fixed">
        </table>

        <h2 class="header-school" style="width: 80%;">GRADE 11 (STEM)</h2>
        <h4 class="header-school" style="color:yellow; width:80%;">FIRST SEMESTER </h4>
    
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr>
                <th>SUBJECTS</th>
                <th>NO. OF MINUTES</th>
            </tr>
            <tr><td>Oral Communication</td><td>240</td></tr>
            <tr><td>General Mathematics</td><td>240</td></tr>
            <tr><td>General Biology 1</td><td>240</td></tr>
            <tr><td>Biochemistry</td><td>180</td></tr>
            <tr><td>Komunikasyon at Pananaliksik sa Wika at Kulturang Pilipino</td><td>240</td></tr>
            <tr><td>Earth Science</td><td>240</td></tr>
            <tr><td>Introduction to Philosophy</td><td>240</td></tr>
            <tr><td>Empowerment Technology</td><td>240</td></tr>
            <tr><td>Number Theory</td><td>240</td></tr>
            <tr><td>Physical Education and Health</td><td>60</td></tr>
            </div>
        </table>
    </div>
    <div class="container">
        <h2 class="header-school" style="width: 80%;">GRADE 11 (STEM)</h2>
        <h4 class="header-school" style="color:yellow; width:80%;">SECOND SEMESTER </h4>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr>
                <th>SUBJECTS</th>
                <th>NO. OF MINUTES</th>
            </tr>
            <tr><td>Reading and Writing</td><td>240</td></tr>
            <tr><td>Statistics and Probability</td><td>240</td></tr>
            <tr><td>General Biology 2</td><td>240</td></tr>
            <tr><td>Pagbasa at Pagsulat ng Iba't ibang Teksto tungo sa Pananaliksik</td><td>240</td></tr>
            <tr><td>Disaster Readiness and Risk Reduction</td><td>240</td></tr>
            <tr><td>Personal Development</td><td>240</td></tr>
            <tr><td>Media and Information Literacy</td><td>240</td></tr>
            <tr><td>Solid Mensuration</td><td>240</td></tr>
            <tr><td>Physical Education and Health</td><td>60</td></tr>
            <tr><td>Practical Research 1</td><td>240</td></tr>
            </div>
        </table>
    </div>
    <div class="container">
        <h2 class="header-school" style="width: 80%;">GRADE 12 (STEM)</h2>
        <h4 class="header-school" style="color:yellow; width:80%;">FIRST SEMESTER </h4>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr>
                <th>SUBJECTS</th>
                <th>NO. OF MINUTES</th>
            </tr>
            <tr><td>21st Century Literature from the Philippines and the World</td><td>240</td></tr>
            <tr><td>Physical Education and Health</td><td>60</td></tr>
            <tr><td>Pagsulat sa Filipino sa Piling Larangan</td><td>240</td></tr>
            <tr><td>General Chemistry 1</td><td>240</td></tr>
            <tr><td>General Physics 1</td><td>240</td></tr>
            <tr><td>Understanding Culture, Society, and Politics</td><td>240</td></tr>
            <tr><td>Practical Research 2</td><td>240</td></tr>
            <tr><td>Advanced Calculus</td><td>120</td></tr>
            <tr><td>Microbiology</td><td>240</td></tr>
            </div>
        </table>
    </div>
    <div class="container">
        <h2 class="header-school" style="width: 80%;">GRADE 12 (STEM)</h2>
        <h4 class="header-school" style="color:yellow; width:80%;">SECOND SEMESTER </h4>
        <table style="font-size:x-large; width:80%; table-layout:fixed;">
            <tr>
                <th>SUBJECTS</th>
                <th>NO. OF MINUTES</th>
            </tr>
            <tr><td>English for Academic and Professional Purposes</td><td>240</td></tr>
            <tr><td>Physical Education and Health</td><td>60</td></tr>
            <tr><td>Contemporary Arts</td><td>240</td></tr>
            <tr><td>General Chemistry 2</td><td>240</td></tr>
            <tr><td>General Physics 2</td><td>240</td></tr>
            <tr><td>Entrepreneurship</td><td>240</td></tr>
            <tr><td>Inquiries, Investiagtion and Immersion</td><td>240</td></tr>
            <tr><td>Basic Anatomy/ Physiology</td><td>120</td></tr>
            <tr><td>Capstone</td><td>240</td></tr>
            </div>
        </table>
    </div>

     <h1 class="header-school ps-5" style="width:auto; text-align: left;">B. GRADING SYSTEM</h1>
        
        <p class="header-school grey ps-5" style="font-size:26; text-align: left; text-indent: 50px;"> FAST follows the guidelines provided by the Department of Education except on the transmutation of grades. The ceiling grade varies in every quarter with the same lowest grade, 70%. The ceiling grades every quarter is as follows:</p>
        <div class="container">
            <table style="font-size:x-large; width:80%; table-layout:fixed">
        </table>

    <div class="container">
        <h2 class="header-school" style="width:80%;">SENIOR HIGH SCHOOL (Semestral)</h2>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr><td>Midterm</td><td>97</td></tr>
            <tr><td>Finals</td><td>100</td></tr>
            </div>
        </table>
    </div>
    </div>
<h2 class="header-school grey ps-5" style="width:auto; text-align: left; font-size:26;">The grade in each subject area shall be based on certain criteria weighted accordingly as follows:</h2>
        

    <div class="container">
        <h2 class="header-school" style="width:80%;">Core Subjects</h2>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr><td>Performance Tasks</td><td>50%</td></tr>
            <tr><td>Written Works</td><td>25%</td></tr>
            <tr><td>Quarterly Assessment</td><td>25%</td></tr>
            </div>
        </table>
    </div>
    <div class="container">
        <h2 class="header-school" style="width:80%;">All Other Subjects</h2>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr><td>Performance Tasks</td><td>25%</td></tr>
            <tr><td>Written Works</td><td>45%</td></tr>
            <tr><td>Quarterly Assessment</td><td>30%</td></tr>
            </div>
        </table>
    </div>
    <div class="container">
        <h2 class="header-school" style="width:80%;">Research</h2>
        <table style="font-size:x-large; width:80%; table-layout:fixed">
            <tr><td>Performance Tasks</td><td>35%</td></tr>
            <tr><td>Written Works</td><td>40%</td></tr>
            <tr><td>Quarterly Assessment</td><td>25%</td></tr>
            </div>
        </table>
    </div>